body {
  display: flex;
  font-family: Georgia, serif;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

#app {
  display: flex;
  flex-grow: 1;
}

#app > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
